.container-about {
    margin: 5% auto;
    color: #2A2929;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1.8;
    max-width: 800px;
    padding: 0 20px;
    text-align: justify;
}

.logo-banner {
    width: 100%;
    height: auto;
}

.about-text {
    /* Estilos adicionais, se necessário */
}

.button-container {
    text-align: center; /* Centraliza horizontalmente o botão */
    margin-top: 20px; /* Adicione margem superior para centralizar verticalmente o botão */
}

.about-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #2A2929;
    border: 4px solid #E1292D;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.about-button:hover {
    background-color: #E1292D;
    color: #FFFFFF;
}
