

.avaliations-background {
    background-color: #E1292D;
    padding: 1%;
    margin: 1% 0 0 0;
}

.titulo-avaliations {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: bold;
}

.testimonials-container {
    background-color: #2A2929;
}

.testimonial {
    color: #FFFFFF;
}

