.avaliations-background {
  background-color: #E1292D;
  padding: 1%;
  margin: 1% 0 0 0;
}

.titulo-avaliations {
  color: #FFFFFF;
  font-size: 42px;
  font-weight: bold;
}

.carousel-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 20px 0 20px;
}

/* Estilize as imagens no carrossel como desejar */
.avaliation-img {
  max-width: 25%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Estilos para o carrossel ativo (quando o mouse está sobre ele) */
.carousel:hover {
  animation-play-state: paused;
}

/* Estilos para o carrossel quando não está ativo (sem foco) */
.carousel:focus {
  animation-play-state: running;
}

/* Estilos para os botões de navegação (opcional) */
.control-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* Estilos para os botões de navegação ativos (opcional) */
.carousel .control-arrow.control-next::before,
.carousel .control-arrow.control-prev::before {
  color: white;
  font-size: 24px;
}

/* Estilos para os botões de navegação inativos (opcional) */
.carousel .control-arrow.control-disabled::before {
  color: #ccc;
}


@media (max-width: 480px) {

.avaliation-img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


}

