/* index.css */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    max-width: 100%;
    background-color: #2A2929;
    padding: 0 15% 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.img-logo-header {
    width: 50%;
    max-height: 50%;
}

.logo-header {
    height: 10em;
    display: flex;
    align-items: center;
    text-align:start;
    will-change: filter;
    transition: filter 300ms;
}

.logo-header:hover {
    filter: drop-shadow(0 0 2em #FFDB15);
}

ul {
    gap: 14px;
    list-style: none;
    display: flex;
    font-size: 18px;
    color: #000;
    letter-spacing: 0.05em;
}

li {
    font-weight: bold;
}

@media (max-width: 780px) {

    
    
    }