.partners-background {
    background-color: #E1292D;
    padding: 1%;
    margin: 1% 0 1% 0;
}

.titulo-partners {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: bold;
}

.container-partners {
    max-width: 100%;
}

.container-logos {
    max-width: 200px;
    margin: 0 auto;
}

.logo-partners {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.slick-slider {
    width: 80%;
    left: 10%;
}

